@font-face {
    font-family: 'FatPixel';
    src: url("fonts/uni0563/uni0563-webfont.eot"); /* IE9 Compat Modes */
    src: url("fonts/uni0563/uni0563-webfont.woff") format("woff"); /* Modern Browsers */
    src: url("fonts/uni0563/uni0563-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */

}

@font-face{
    font-family: 'Pixel';
    src:url("fonts/munro/munro.ttf") format("truetype"),
    url("fonts/munro/munro-small.ttf")format("truetype"),
    url("fonts/munro/munro-narrow.ttf")format("truetype");
}

body{
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  background-color: #252525;
}
.background{
    background-image: url("pictures/WebsiteWallpaper.jpg");
    background-position: 50%,50%;
    background-attachment:fixed;
}
/*#region Headers*/
h1,h2,h3{
  font-family: "Pixel";
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
}
h1{
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 8em;
}
h2{
    font-size: 2.2em;
    text-align: left;
}
h3 {
    font-size: 1.3em;
}
/*#endregion*/
/*#region Section*/
section h3{
    margin-left: 1.4%;
}
section p{
    margin-top: 0.2%;
    margin-bottom: 0.8%;;
    margin-left: 3%;
    font-size: 1.2em;
}
/*#endregion*/
/*#region Navbar*/
 .navbar {
    background-color: #202020;
    overflow: auto;
    position: sticky;
    width: 100%;
 }
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    font-family: "FatPixel";
    font-weight: normal;
    font-style: normal;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 23px;
  }
  .navbar a:hover {
    background-color: #B0B0B0;
    color: black;
  }


  @media screen and (max-width: 24em) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  .navbar a.active {
    background-color: #B0B0B0;
    color: black;
  }
/*#endregion*/
